@keyframes addToCart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-addToCart {
  animation: addToCart 0.5s ease-in-out;
}

.button-common {
  max-width: 200px;
  width: 100%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.button-add-to-cart {
  composes: button-common;
  animation: addToCart 0.5s ease-in-out;
}

.button-remove {
  composes: button-common;
}
